.inlineDiv {
    cursor: default;
    display: inline-block;
    color: black;
    transition: 2s;
    height: 100%;
}

.active {
    height: 99%;
    width: 99%;
    color: rgb(255, 107, 255);
    filter: hue-rotate(360deg);
    transform: rotateY(180deg);
    transition: 0.75s;
    animation: 0.5s linear 0s infinite active;
    animation-fill-mode: forwards;
}

@keyframes active {
    from {    color: rgb(255, 107, 255);filter: hue-rotate(0deg);   }
    to   {    color: rgb(255, 107, 255);filter: hue-rotate(360deg); }
}



/* GEARS */

.gearSVG {
    width: 100%;
}

.leftBlackGear {
    position: absolute;
    bottom: -16vw;
    left: -16vw;
    width: 40vw;
    height: 40vw;
    animation: 40s linear 0s infinite ratateIt;
}

.rightBlackGearBottom {
    position: absolute;
    bottom: -10vw;
    right: 2vw;
    width: 22vw;
    height: 22vw;
    /* transform: translateY(11vw); */
    animation: 40s linear 0s infinite ratateItCC;
}

.rightBlackGearRight {
    position: absolute;
    bottom: 5vw;
    right: -13vw;
    width: 22vw;
    height: 22vw;
    animation: 40s linear 0s infinite ratateItCogCompensate;
}

.largeLeftPinkGear {
    position: absolute;
    bottom: -14vw;
    left: -7vw;
    width: 44vw;
    height: 44vw;
    animation: 50s linear 0s infinite ratateItCC;
    filter: blur(3px)
}

.largeRightPinkGear {
    position: absolute;
    bottom: -30vw;
    right: -30vw;
    width: 66vw;
    height: 66vw;
    animation: 40s linear 0s infinite ratateItCC;
    filter: blur(3px)
}

.smallCenterPinkGear {
    position: absolute;
    bottom: -14vw;
    right: 23vw;
    width: 34vw;
    height: 34vw;
    animation: 60s linear 0s infinite ratateItCC;
    filter: blur(5px)
}

.largeOrangeGear {
    position: absolute;
    animation: 70s linear 0s infinite ratateIt;
    filter: blur(8px);
    width: 90vw;
    left: 5vw;
    bottom: -47vw;
    /* bottom: -48vw; */
}


@keyframes ratateIt {
    from {    transform: rotate(0deg);   }
    to   {    transform: rotate(360deg); }
}


@keyframes ratateItCogCompensate {
    from {    transform: rotate(22.5deg);   }
    to   {    transform: rotate(383.5deg); }
}

@keyframes ratateItCC {
    from {    transform: rotate(360deg);   }
    to   {    transform: rotate(0deg); }
}