.inlineDiv {
    cursor: default;
    display: inline-block;
    color: black;
    transition: 2s;
    height: 100%;

}

.active {
    height: 99%;
    width: 99%;
    color: rgb(255, 107, 255);
    filter: hue-rotate(360deg);
    transform: rotateY(180deg);
    transition: 0.75s;
    animation: 0.5s linear 0s infinite active;
    animation-fill-mode: forwards;
}


@keyframes active {
    from {    color: rgb(255, 107, 255);filter: hue-rotate(0deg);   }
    to   {    color: rgb(255, 107, 255);filter: hue-rotate(360deg); }
}