.linkIcon {
    width: 30px;
    margin-right: 20px;
}

a:hover {
    text-decoration: underline;
}

.gridHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.headerLeft {
    grid-column-start: 1;
    padding-left: 50px;
    margin: 0 auto;
    width: 300px;
    text-align: center;

}

.headerRight {
    grid-column-start: 2;
    width: 500px;
}

.classicalHarmonyHeaderImage {
    margin: 0 auto;
    height: 100px;
    padding-bottom: 10px;
}

.reserveItHeaderImage {
    margin: 0 auto;
    height: 100px;
    padding-bottom: 10px;
}

.tarot-rizeHeaderImage {
    margin: 0 auto;
    height: 100px;
    padding-bottom: 10px;
}

.reservitHeader {
    width: 200px;
}

.login {
    height: 20px;
    padding-right: 10px;
}

.largeIcon {
    height: 90px;
}

.techStack {
    display: inline-block;
}

.techStack>li {
    padding: 5px;
}

.bulletList>li {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 10px;
}

.projectLinks {
    padding-top: 20px;
    line-height: 2em;
}

.projectLinks>li>a>img {
    vertical-align:middle;
}

.horizonHeaderLeft {
    /* margin-left: 50px; */
}

.horizonLoginCredientials {
    margin-left: 50px;
}

.backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    border: 0.2px solid rgb(179, 179, 179);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backButton>img {
    width:75%
}

.backButton:hover {
    transform: translateX(2px) translateY(2px);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

.backButton:active {
    background-color: rgb(189, 189, 189);
}

.screencap {
    width: 100%
}