.projectMain {
    box-sizing: border-box;
    width: 100vw;
    padding: 50px;

}

.linkIcon {
    width: 30px;
    margin-right: 20px;
    vertical-align: middle;
}

a:hover {
    text-decoration: underline;
}

.gridHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.headerLeft {
    grid-column-start: 1;
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.headerRight {
    grid-column-start: 2;
    width: 500px;
}

.HorizonHeaderImage {
    margin: 0 auto;
    height: 50px;
    padding-bottom: 10px;
}

.classicalHarmonyHeaderImage {
    margin: 0 auto;
    height: 100px;
    padding-bottom: 10px;
}

.reserveItHeaderImage {
    margin: 0 auto;
    height: 100px;
    padding-bottom: 10px;
}

.tarot-rizeHeaderImage {
    margin: 0 auto;
    height: 100px;
    padding-bottom: 10px;
}

.reservitHeader {
    width: 200px;
}

.login {
    height: 20px;
    padding-right: 10px;
}

.largeIcon {
    height: 90px;
    margin-right: 20px;
}

.frontEndTech {
    margin-right: 50px;
}

.techStack {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.techStack>li {
    padding: 5px;
}

.bulletList>li {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 10px;
}

.projectLinks {
    display: grid;
    grid-template-columns: 3;
    padding-top: 20px;
    line-height: 2em;
    /* text-align: center; */
}

.linkLive {
    grid-column-start: 1;
}

.ghLive {
    grid-column-start: 2;
}

.projectLinks>li>a>img {
    vertical-align:middle;
}

.horizonHeaderLeft {
    text-align: center;
}

.horizonLoginCredientials {
    margin-left: 50px;
    color: grey;
}

.loginCredentialsText {
    margin-bottom: 5px;
}

.musicList {
    list-style-image: url('./projects/classical-harmony/musical-note.svg');
}

.backButton {
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 0%;
    background-color: black;
    /* border: 0.2px solid rgb(179, 179, 179); */
    /* box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5); */
    width: 40px;
    transform: rotate(45deg);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    z-index: 100;
}

.backButton>img {
    width:66%;
    transform: rotate(-45deg);
    transition: 0.1s;

}

.backButton:hover {
    transform: rotate(0deg);
    /* transform: translateX(2px) translateY(2px); */
    /* box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5); */
    transition: 0.1s;
    background: black;
    border-radius: 2px;
}

.backButton:hover>img {
    transform: rotate(0deg);
    transition: 0.1s;

}

.backButton:active {
    background-color: rgb(97, 97, 97);
}

.backButtonBorder {
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 0%;
    background: -webkit-linear-gradient(-225deg, magenta, orange);
    /* border: 0.2px solid rgb(179, 179, 179); */
    /* box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5); */
    width: 40px;
    transform: rotate(45deg);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    z-index: 10;
}

.hovering {
    width: 50px;
    height: 50px;
    transform: rotate(0deg) translateX(-5px) translateY(-5px);
    transition: 0.1s;
    animation: 1s linear 0s infinite hovering;
    animation-fill-mode: forwards;
    border-radius: 3px;

}

@keyframes hovering {
    from {    color: rgb(255, 107, 255);filter: hue-rotate(360deg);   }
    to   {    color: rgb(255, 107, 255);filter: hue-rotate(0deg); }
}

.screencap {
    width: 100%;
    overflow: hidden;
}


.footersocial {
    /* padding-top: 110px; */
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 1250px) {

    .laptop {
        min-width: 400px;
        min-height: 400px;
    }

}

@media only screen and (max-width: 1020px) {

    .gridHeader {
        display: block;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }

    .headerLeft {
        width: 100%;
    }

    .headerRight {
        margin: 0 auto;
    }
    .laptop {
        transform: translateY(-5vw);
    }
}

@media only screen and (max-width: 570px) {

    .headerRight {
        padding: 0 20px 30px;
        max-width: 70vw;
        margin: 0 auto;
    }



    .laptop {
        min-width: 300px;
        min-height: 300px;
    }

}