.projectMain {
    box-sizing: border-box;
    width: 100vw;
    padding: 50px;

}

.linkIcon {
    width: 30px;
    margin-right: 20px;
    vertical-align: middle;
}

a:hover {
    text-decoration: underline;
}

.gridHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.headerLeft {
    grid-column-start: 1;
    padding-left: 50px;
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.headerRight {
    grid-column-start: 2;
    width: 500px;
}

.HorizonHeaderImage {
    margin: 0 auto;
    height: 50px;
    padding-bottom: 10px;
}

.classicalHarmonyHeaderImage {
    margin: 0 auto;
    height: 100px;
    padding-bottom: 10px;
}

.reserveItHeaderImage {
    margin: 0 auto;
    height: 100px;
    padding-bottom: 10px;
}

.tarot-rizeHeaderImage {
    margin: 0 auto;
    height: 100px;
    padding-bottom: 10px;
}

.reservitHeader {
    width: 200px;
}

.login {
    height: 20px;
    padding-right: 10px;
}

.largeIcon {
    height: 90px;
    margin-right: 20px;
}

.frontEndTech {
    margin-right: 50px;
}

.techStack {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.techStack>li {
    padding: 5px;
}

.bulletList>li {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 10px;
}

.projectLinks {
    display: grid;
    grid-template-columns: 3;
    padding-top: 20px;
    line-height: 2em;
    /* text-align: center; */
}

.linkLive {
    grid-column-start: 1;
}

.ghLive {
    grid-column-start: 2;
}

.projectLinks>li>a>img {
    vertical-align:middle;
}

.horizonHeaderLeft {
    text-align: center;
}

.horizonLoginCredientials {
    margin-left: 50px;
    color: grey;
}

.loginCredentialsText {
    margin-bottom: 5px;
}

.backButton {
    position: fixed;
    top: 15px;
    left: 15px;
    border-radius: 0%;
    background-color: black;
    /* border: 0.2px solid rgb(179, 179, 179); */
    /* box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.5); */
    width: 40px;
    transform: rotate(45deg);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.backButton>img {
    width:66%;
    transform: rotate(-45deg);
    transition: 0.1s;

}

.backButton:hover {
    transform: rotate(0deg);
    /* transform: translateX(2px) translateY(2px); */
    /* box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5); */
    transition: 0.1s;
    background: black;
}

.backButton:hover>img {
    transform: rotate(0deg);
    transition: 0.1s;

}



.backButton:active {
    background-color: rgb(97, 97, 97);
}

.screencap {
    width: 100%;
    overflow: hidden;
}