body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.075em;
    line-height: 1.4em;
    font-size: 1.2em;
    font-weight: 400;
    background-color: black;
}

html, body {
    width: auto !important;
    overflow-x: hidden !important;
  }

p {letter-spacing: 0.075em}

.headerGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.heroH2 {width: 600px; cursor: default; transition: opacity 1s;}
.aboutMeH2 {width: 220px; margin: 50px 0 40px 0; padding: 0 0 0 50px;}
.techHeader {width: 410px; margin: 0 0 20px 0; padding: 40px 0 15px 50px;}
.projectsH2 {width: 180px; margin:  50px 0 50px 0;  padding: 10px 0 10px 50px;}
.projectTechStackH2 {width: 250px;}

.heroH2:hover{
    animation: 1s linear 0s infinite cycleGradient;
}

@keyframes cycleGradient {
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(360deg);}
}

canvas {
    position: absolute;
    z-index: 1;
}

.scrollButton {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50px);
    opacity: 0.3;
    transition: 0.1s;
    transition: opacity 1s;
}

.scrollButton>img {
    width: 100%;
}

.scrollButton:hover {
    opacity: 1;
    transition: 0.1s;
    cursor: pointer;
}

.profilepic {
    height: 95%;
    border-radius: 8%;
}

.profileBorder{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 322.5px;
    border-radius: 10%;
    background: -webkit-linear-gradient(-45deg, magenta, orange);
}

.skillsList {
    margin-left: 55px;
}

.skillsList>li {
    text-align: justify;
}

a {
    color: black;
    text-decoration: none;
}

.underlinedLink {
    text-decoration: underline
}

.main {
    height: 100vh;
    box-sizing: border-box;
    width: 100vw;
    padding: 50px;
    overflow: hidden;
}

h1 {
    font-size: 3.05em;
    font-weight: 800;
    line-height: 1em;
}

.lineDivider {
    display: inline;
    transition: opacity 1s;
}

h2 {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 2em;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, magenta, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white {
    position: relative;
    background-color: white;
    color: black;
}

.black {
    background-color: black;
    color: white;
}

.mainSection {
    margin-bottom: 0;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.grid-left {
    padding: 0 20px 30px;
    max-width: 500px;
    margin: 0 auto;
}

.grid-right {
    /* width: 30vw; */
    position: relative;
    padding: 0 20px 30px;
}

.whiteLink {
    color: white;
}

.social {
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    bottom: 0;

}

.footersocial {
    /* padding-top: 110px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    bottom: 0;
    padding-bottom: 50px;
}

.socialIcon {
    height: 30px;
}

/* .socialIcon:hover {
    opacity: 0.5;
    transition: 0.2s;
} */

.tech {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    width: 100%;
    text-align: center;
}

.tech>div {
    width: 200px;
    height: 100px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    transition: opacity 0.2s; 
}

.techName {
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    transition: opacity 0.2s; 
}

.hiddenTechName {
    opacity: 0;
}

.techRails {
    transform: translateX(-25px)
}

#htmlText,#cssText,#jsText,#reactText,#reduxText,#sassText,#rubyText,#railsText,#gitText {
    color: white;
}

.showText {
    opacity: 1;
}

.projects {
    grid-template-columns: 1fr 1fr;
}

.projects>div {
    padding: 20px;
    margin-bottom: 50px;

}

.diamond {
    margin: 0 auto;
    width: 800px;
    position: relative;
    height: 400px;
    overflow: visible;
    color: black;
    transition: 0.2s;
}

.gradientHover {
    background: -webkit-linear-gradient(45deg, magenta, orange);
}

.diamond>a>div * {
    transform: rotate(-45deg);
}

.diamond1Activator {
    position: absolute;
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    background-color: transparent;
    left: 247px;
    z-index: 100;
}

.diamond1{
    position: absolute;
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    background-color: white;
    left: 247px;
    z-index: 1;
    transition: opacity 0.2s;
}

.diamond2{
    position: absolute;
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    background-color: white;
    left: 540px;
    z-index: 1;
    transition: opacity 0.2s;
}

.diamond2Activator{
    position: absolute;
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    background-color: transparent;
    left: 540px;
    z-index: 100;
    
}

.diamond3{
    position: absolute;
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    background-color: white;
    left: 100px;
    top: 166px;
    z-index: 1;
    transition: opacity 0.2s;
}

.diamond3Activator{
    position: absolute;
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    background-color: transparent;
    left: 100px;
    top: 166px;
    z-index: 100;
}

.diamond4{
    position: absolute;
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    background-color: white;
    left: 393px;
    top: 166px;
    z-index: 1;
    transition: opacity 0.2s;
}

.diamond4Activator{
    position: absolute;
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    background-color: transparent;
    left: 393px;
    top: 166px;
    z-index: 100;
}

.projectLogo {
    height: 100px;
}

.horizon {
    grid-column-start: 1;
    text-align:center;
}

.horizon:hover {
    background: -webkit-linear-gradient(45deg, magenta, orange);
}

.paragraph {
    text-align: justify;
    padding: 0 0 15px 0;
}

li {
    list-style-type: none;
}

.icon {
    height: 50px;
}

.horizonIcon {
    position: absolute;
    width: 200px;
    top: 70px;
    height: 50px;
}

.reserve-itIcon {
    position: absolute;
    width: 200px;
    top: 60px;
    left: -5px;
    height: 75px;
}

.classicalHarmonyIcon {
    position: absolute;
    width: 200px;
    top: 70px;
    height: 66px;
}

.tarot-rizeIcon {
    position: absolute;
    width: 200px;
    top: 40px;
    left: -10px;
    height: 80px;
}

.mobileTechGroup1 {
    margin: 0 auto;
    display: none;
    max-width: 500px;
}

.mobileTechGroup2 {
    margin: 0 auto;
    display: none;
    max-width: 500px;
}

.mobileTechGroup3 {
    margin: 0 auto;
    display: none;
    max-width: 500px;
}

.mobileDiamond {
    display: none;
}

.mobileDiamond4, .mobileDiamond3, .mobileDiamond2, .mobileDiamond1 {
    display: none;
}

@media only screen and (max-width: 1020px) {

    .main-grid {
        display: block;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }

    .grid-left {
        width: 100%;
    }

    .grid-right {
        margin: 0 auto;
    }

    .sectionPadding {
        margin: 10px;
    }

    .tech {
        padding-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        text-align: center;
    }

    .social {
        padding-top: 20px;
    }

    .mobileDiamond {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 0px;
        height: 500px;
    }

    .diamond {
        display: none;
    }

    .mobileDiamond4, .mobileDiamond3, .mobileDiamond2, .mobileDiamond1 {
        display: block;
        width: 150px;
        height: 150px;
        position: absolute;
        transform: rotate(45deg);
        background-color: white;
    }

    .mobileDiamond1 {
        left: -100px;
        top: 0px;
    }

    .mobileDiamond2 {
        left: 15px;
        top: 115px;
    }

    .mobileDiamond3 {
        left: -100px;
        top: 230px;
    }

    .mobileDiamond4 {
        left: 15px;
        top: 345px;
    }


    .horizonIcon {
        transform: rotate(-45deg);
        position: absolute;
        width: 150px;
        top: 50px;
        left: 5px;
        height: 50px;
    }
    
    .reserve-itIcon {
        transform: rotate(-45deg);
        position: absolute;
        width: 200px;
        top: 40px;
        left: -20px;
        height: 75px;
    }
    
    .classicalHarmonyIcon {
        transform: rotate(-45deg);
        position: absolute;
        width: 120px;
        top: 40px;
        left: 20px;
        height: 66px;
    }
    
    .tarot-rizeIcon {
        transform: rotate(-45deg);
        position: absolute;
        width: 120px;
        top: 30px;
        left: 10px;
        height: 80px;
    }
}



@media only screen and (max-width: 670px) {
    .tech {
        padding-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        text-align: center;
    }

    .projects {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 690px) {

    .lineDivider {
        display: block;
    }

    .heroH2 {
        font-size: 1.63em;
        width: 300px;
    }

    .developerSize {
        letter-spacing: 0.4em;
    }

    .techHeader {
        font-size: 1.7em;
    }

    .grid-left {
        padding: 0 20px 30px;
        max-width: 90vw;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 432px) {

    .techHeader {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 2.5em;
    }

    .heroH2 {
        font-size: 1.35em;
        width: 250px;
    }

}