body {
    /* background-color: black;
    color: white; */
    /* font-family: 'Archivo Black', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Heebo', sans-serif; */
    letter-spacing: 0.075em;
    line-height: 1.4em;
    font-size: 1.2em;
    font-weight: 400;
    background-color: black;
}

p {letter-spacing: 0.05em}

.headerGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.hero {
    position: relative;
}

.heroH2 {width: 600px;}
.aboutMeH2 {width: 220px; margin-bottom: 40px;}
.techHeader {width: 410px; margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 15px;
}
.projectsH2 {width: 180px; margin-top: 0px;}
.projectTechStackH2 {width: 250px}

canvas {
    position: absolute;
    z-index: 1;
}

.profilepic {
    height: 95%;
    border-radius: 50%;
}

.profileBorder{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 322.5px;
    border-radius: 50%;
    background: -webkit-linear-gradient(-45deg, magenta, orange);
}

.skillsList {
    margin-left: 55px;
}

.skillsList>li {
    text-align: justify;
}

a {
    color: black;
    text-decoration: none;
}

.main {
    height: 100vh;
    box-sizing: border-box;
    width: 100vw;
    padding: 50px;
}

h1 {
    font-size: 3.05em;
    font-weight: 800;
}

h2 {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 2em;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, magenta, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sectionPadding {
    margin: 50px;
}

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: black;
    color: white;
}

.mainSection {
    margin-bottom: 0;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.grid-left {
    width: 500px;
}

.grid-right {
    /* width: 30vw; */
    position: relative;
}

.whiteLink {
    color: white;
}

.social {
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    bottom: 0;
}

.footersocial {
    /* padding-top: 110px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    bottom: 0;
}

.socialIcon {
    height: 30px;
}

.socialIcon:hover {
    opacity: 0.5;
    transition: 0.2s;
}



.tech {
    padding-top: 15px;
    display: flex;
    width: 100%;
    text-align: center;
}

.mobileTechGroup1 {
    display: inline;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.MobileTechGroup2 {
    display: inline;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.tech>div {
    width: 200px;
    height: 100px;
    width: 50%;
}

.techName {
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

#htmlText {color: magenta;}
#cssText {color: rgb(253, 61, 205);}
#jsText {color: rgb(255, 78, 225);}
#reactText {color: rgb(255, 89, 200);}
#reduxText {color: rgb(253, 102, 165);}
#sassText {color: rgb(255, 111, 147);}
#rubyText {color: rgb(253, 129, 98);}
#railsText {color: rgb(253, 142, 98);}
#gitText {color: orange;}




.showText {
    opacity: 1;
}

.projects {
    grid-template-columns: 1fr 1fr;
}


.projects>div {
    padding: 20px;
}


.diamond {
    margin: 0 auto;
    width: 800px;
    position: relative;
    height: 400px;
    overflow: visible;
    color: black;
    transition: 0.2s;

}

.diamond>a>div:hover {
    background: -webkit-linear-gradient(45deg, magenta, orange);
}

.diamond>a>div * {
    transform: rotate(-45deg);
}


.diamond1{
    position: absolute;
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    background-color: white;
    left: 247px;
}

.diamond2{
    position: absolute;
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    background-color: white;
    left: 540px;
}

.diamond3{
    position: absolute;
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    background-color: white;
    left: 100px;
    top: 166px;
}

.diamond4{
    position: absolute;
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    background-color: white;
    left: 393px;
    top: 166px;
}


.projectLogo {
    height: 100px;
}

.horizon {
    grid-column-start: 1;
    text-align:center;
}

.horizon:hover {
    background: -webkit-linear-gradient(45deg, magenta, orange);
}

.paragraph {
    text-align: justify;
    padding: 0 0 15px 0;
}

.web_development_header {
    position: relative;
    height: 40px;
}

.web_development1 {
    position: absolute;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cyan;
    mix-blend-mode: multiply;
}

.web_development2 {
    position: absolute;top: 5px;
    left: 5px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: magenta;
    mix-blend-mode: multiply;
}

li {
    list-style-type: none;
}

.icon {
    height: 50px;
}

.horizonIcon {
    position: absolute;
    width: 200px;
    top: 70px;
    height: 50px;
}

.reserve-itIcon {
    position: absolute;
    width: 200px;
    top: 60px;
    left: -5px;
    height: 75px;
}

.classicalHarmonyIcon {
    position: absolute;
    width: 200px;
    top: 70px;
    height: 66px;
}

.tarot-rizeIcon {
    position: absolute;
    width: 200px;
    top: 40px;
    left: -10px;
    height: 80px;
}

.mobileTechGroup1 {
    margin: 0 auto;
    display: none;
    max-width: 500px;
}

.mobileTechGroup2 {
    margin: 0 auto;
    display: none;
    max-width: 500px;
}

.mobileTechGroup3 {
    margin: 0 auto;
    display: none;
    max-width: 500px;
}



.mobileDiamond {
    display: none;
}

.mobileDiamond4, .mobileDiamond3, .mobileDiamond2, .mobileDiamond1 {
    display: none;
}


@media only screen and (max-width: 1020px) {

    .main-grid {
        display: block;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }

    .grid-left {
        width: 100%;
    }

    .grid-right {
        margin: 0 auto;
    }

    /* .black {
      background-color: green;
    } */

    .sectionPadding {
        margin: 10px;
    }

    .tech {
        display: none;
    }

    .social {
        padding-top: 20px;
    }


    .mobileTechGroup1 {
        justify-content: space-between;
        display: flex;
        width: 100%;
        text-align: center;
    }
    
    .mobileTechGroup2 {
        justify-content: space-between;
        display: flex;
        width: 100%;
        text-align: center;
    }

    .mobileTechGroup3 {
        justify-content: space-between;
        display: flex;
        width: 100%;
        text-align: center;
    }

    h2 {
        font-size: 1.5em;
    }

    .mobileDiamond {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 0px;
        height: 500px;
    }

    .diamond {
        display: none;
    }

    .mobileDiamond4, .mobileDiamond3, .mobileDiamond2, .mobileDiamond1 {
        display: block;
        width: 150px;
        height: 150px;
        position: absolute;
        transform: rotate(45deg);
        background-color: white;
    }

    .mobileDiamond1 {
        left: -100px;
        top: 0px;
    }

    .mobileDiamond2 {
        left: 15px;
        top: 115px;
    }

    .mobileDiamond3 {
        left: -100px;
        top: 230px;
    }

    .mobileDiamond4 {
        left: 15px;
        top: 345px;
    }


    .horizonIcon {
        transform: rotate(-45deg);
        position: absolute;
        width: 150px;
        top: 50px;
        left: 5px;
        height: 50px;
    }
    
    .reserve-itIcon {
        transform: rotate(-45deg);
        position: absolute;
        width: 200px;
        top: 40px;
        left: -20px;
        height: 75px;
    }
    
    .classicalHarmonyIcon {
        transform: rotate(-45deg);
        position: absolute;
        width: 120px;
        top: 40px;
        left: 20px;
        height: 66px;
    }
    
    .tarot-rizeIcon {
        transform: rotate(-45deg);
        position: absolute;
        width: 120px;
        top: 30px;
        left: 10px;
        height: 80px;
    }


}
